
.imagen
{
    
    width: 210px;
    height: 230px;

}
.carusel 
{

    height: 560px;
}


body
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNA-4jEwukx79tJCL1A5Rsp9wh4ZAHe_MrIQ&usqp=CAU);
}


main
{
    background-color: rgba(168, 219, 219, 0.993);
}
h4
{
    text-align: center;
    color: midnightblue;
    font-family: MV Boli;
    font-size: 100px; 
}
h1
{
    text-align: center;
    color: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px; 

}

h3
{
    text-align: center;
    color: midnightblue;
    font-family: cursive;
    font-size: 150px; 
}
h2
{
    text-align: center;
    color: mediumaquamarine;
    font-family: MV Boli;
    font-size: 100px; 
}

